<header class='main-header clearfix'>
  <div class='wrapper'>
    <h1 class='header-title'>
      <i class="fa fa-rocket"></i>
      <%= link_to 'Why', root_path %>
    </h1>
    <nav class='nav'>
      <ul class='list'>
        <li>
          </i><%= link_to 'Ask Question', new_question_path %>
        </li>
        <%= render "shared/user_#{user_signed_in?}" %>
      </ul>
    </nav>
  </div>
</header>
