<li class="item">
  <%= link_to 'Questions', questions_path %>
</li>
<li class="item">
  <%= link_to 'Answers', answers_path %>
</li>
<li class='item'>
  <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %> 
</li>